body {
    margin: 0;
    font-family: Arial, sans-serif;
}

header {
    background-color: #34a853;
    color: white;
    text-align: center;
    padding: 20px;
    
}

.logo {
    height: 100px;
    margin: 50px 0;
}

.description {
    font-size: 14px;
    margin-top: 5px;
}

.contact {
    padding: 20px;
    background-color: #f5f5f5;
}

.contact input,
.contact textarea {
    display: block;
    width: 1200px;
    margin-bottom: 10px;
    padding: 10px;
}

.contact button {
    background-color: #34a853;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}

.team {
    padding: 20px;
}

.team-img {
    width: 50000px;
    max-width: 1000px;
    display: block;
    margin-bottom: 20px;
}

table {
    width: 1200px;
    border-collapse: collapse;
}

table th, table td {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: left;
}

.map {
    padding: 20px;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
}
